* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}
body {
  font-family: "Lato", sans-serif;
}
button {
  border: none;
  background: none;
}
.label {
  padding: 5px 12px;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background: #3dc47e;
  border-radius: 3px;
}
.header {
  padding: 15px 0px;
  background-color: #ffffff;
}
.nav {
  &__item {
    list-style-type: none;
  }
  &__link {
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #939699;
    text-transform: uppercase;
  }
}
.button {
  background-color: #4592ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato";
  color: #ffffff;
}

.slider {
  padding: 90px 0 100px;
  background: #b4d1e0 url("../image/slider.png") no-repeat center right 25% /
    contain;
  position: relative;

  &__title {
    color: #262d33;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    font-family: "Roboto Slab", sans-serif;
    margin: 20px 0 15px;
  }
  &__desc {
    font-size: 18px;
    line-height: 30px;
    color: #4b5157;
    max-width: 335px;
    margin-bottom: 40px;
  }
  &__nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }
}
.card {
  padding: 50px 0 60px;
  &__container {
    margin-bottom: 30px;
  }
  &__wrapper {
    height: 100%;
    padding: 60px 46px 80px;
    border-radius: 10px;

    @for $item from 1 through 4 {
      &--#{$item} {
        background: url("../image/card-#{$item}.jpg")
          no-repeat
          center
          center /
          cover;
      }
    }

    &--3 {
      padding: 35px 46px 60px;
      .label {
        margin-bottom: 30px;
        display: inline-block;
      }
      .card__title {
        margin-bottom: 20px;
      }
      .card__text {
        margin-bottom: 40px;
      }
    }
  }
  &__title {
    color: #262d33;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: "Roboto Slab";
    max-width: 220px;
    margin-bottom: 15px;

    &--white {
      color: #ffffff;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #4b5157;
    font-family: "Lato";
    max-width: 175px;
    margin-bottom: 25px;

    &--white {
      color: rgba(255, 255, 255, 0.85);
    }

    &--pink {
      color: #ffc4c9;
    }
  }
}

.card__price {
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.goods {
  display: flex;
  justify-content: center;
  text-align: center;
  &__card {
    position: relative;
    padding: 36px;
  }
  &__img {
    margin-bottom: 15px;
  }
  &__label {
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 12px;
    position: absolute;
    top: 18px;
    left: 18px;
    background: #3dc47e;
    border-radius: 3px;
  }
  &__title {
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #4b5157;
    font-family: "Roboto Slab";
    margin-bottom: 5px;
  }
  &__text {
    color: #4b5157;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  &__price {
    color: #262d33;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }
}
